In [1]:
import mysql.connector

In [2]:
mydb = mysql.connector.connect(
    host='localhost',
    user='root',
    passwd='slow675',
    database='amd_project'
    )

In [3]:
print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x10b8d0b00>

In [5]:
mycursor = mydb.cursor()

In [7]:
sql = "INSERT INTO Patient (ID, Dateandtime, X, Y, Z, HR, Label) VALUES (%s, %s, %s, %s, %s, %s, %s)"
val = [
    (3001, '2019-03-14 14:58:00', 1.35, 3.87, 9.46, 89.0123, None),
    (3001, '2019-03-14 14:58:01', 1.49, 3.65, 9.33, 88.9777, None),
    (3001, '2019-03-14 14:58:02', 1.38, 3.42, 9.55, 86.3654, None)
      ]

mycursor.executemany(sql, val)

mydb.commit()

In [8]:
mycursor.execute("SELECT * FROM Patient")

myresult = mycursor.fetchall()

for x in myresult:
    print(x)

(3001, datetime.datetime(2019, 3, 14, 14, 58), 1.35, 3.87, 9.46, 89.0123)
(3001, datetime.datetime(2019, 3, 14, 14, 58, 1), 1.49, 3.65, 9.33, 88.9777)
(3001, datetime.datetime(2019, 3, 14, 14, 58, 2), 1.38, 3.42, 9.55, 86.3654)

In [14]:
sql = "DELETE FROM Patient WHERE ID = 3001"

mycursor.execute(sql)

mydb.commit()