# Import Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import math

from os import listdir, walk
from os.path import isfile, join

# Load Predicted Data

In [66]:
%run activity_summary.ipynb
%run ../ddc/preprocessing.ipynb
%run ../ddc/load_dataset.ipynb

In [3]:
subj_range = np.hstack((np.arange(2001,2002),np.arange(3001,3006)))
all_patients = [str(i) for i in subj_range]

In [4]:
datapath = '../../DDC_Data/'
basepath = '../../'

In [5]:
csv_path = datapath + 'prediction/predicted_data_' + all_patients[0] + '_to_' + all_patients[-1] + '.csv'
df_all_p_sorted = pd.read_csv(csv_path)

In [6]:
df_date = df_all_p_sorted.copy()
df_date['date'] = df_date['timestamp'].apply(lambda x: x.split(' ')[0])
df_date['time'] = df_date['timestamp'].apply(lambda x: x.split(' ')[1])

cols = ['ID','date','time','x','y','z','HR','y_pred']
df_date = df_date[cols]

# Summarize Data

In [68]:
df_summary_all, df_act_period = get_df_summary_all(all_patients, df_date)

/Users/admin/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:18: FutureWarning: arrays to stack must be passed as a "sequence" type such as list or tuple. Support for non-sequence iterables such as generators is deprecated as of NumPy 1.16 and will raise an error in the future.

In [69]:
cols = ['ID', 'date', 'from', 'to', 'y_pred']
df_act_period = df_act_period[cols]
df_act_period = df_act_period.reset_index(drop=True)

df_summary_all = df_summary_all.reset_index(drop=True)

In [70]:
df_summary_all

,ID,date,from,to,sit,sleep,stand,walk,total,sit count,sleep count,stand count,walk count,inactive count,active count,total count,transition count,duration per action
0,2001,2019-01-16,13:0:0,14:0:0,0:0:35,0:0:00,0:0:36,0:0:00,0:1:11,1,0,2,0,1,2,3,2,0:20:00
1,2001,2019-01-16,14:0:0,15:0:0,0:1:07,0:1:10,0:4:03,0:3:04,0:9:24,16,6,88,91,22,179,201,32,0:0:17
2,3001,2019-03-05,10:0:0,11:0:0,0:1:55,0:1:09,0:3:02,0:1:04,0:7:10,12,9,32,19,21,51,72,31,0:0:50
3,3002,2019-03-05,12:0:0,13:0:0,0:1:06,0:1:10,0:2:48,0:0:30,0:5:34,6,4,25,20,10,45,55,14,0:1:05
4,3003,2019-03-05,12:0:0,13:0:0,0:1:28,0:1:15,0:2:09,0:1:27,0:6:19,15,7,19,14,22,33,55,24,0:1:05
5,3004,2019-03-05,12:0:0,13:0:0,0:1:53,0:1:18,0:2:44,0:0:56,0:6:51,11,6,27,24,17,51,68,16,0:0:52
6,3005,2019-03-05,12:0:0,13:0:0,0:0:01,0:0:00,0:0:30,0:0:00,0:0:31,1,0,2,0,1,2,3,2,0:20:00
7,3005,2019-03-05,13:0:0,14:0:0,0:1:44,0:1:17,0:1:47,0:0:59,0:5:47,7,5,20,16,12,36,48,18,0:1:15

In [35]:
actual_from_all = []
for i in range(len(df_summary_all)):
    keep_start = -1
    
    for j in range(len(df_act_period)):
        floor_start = get_floor_start(df_act_period.loc[j, 'from'])
        
        if(df_act_period.loc[j, 'date']==df_summary_all.loc[i, 'date'] and 
           df_act_period.loc[j, 'ID']==df_summary_all.loc[i, 'ID']):

            if(floor_start>keep_start and 
               floor_start==calc_sec(df_summary_all.loc[i, 'from'])):
                
                actual_from_all.append(df_act_period.loc[j, 'from'])
                keep_start = calc_sec(df_act_period.loc[j, 'from'])

            elif(floor_start<=keep_start):
                break

In [133]:
actual_to_all = []
temp = 0
for i in range(len(df_summary_all)):
    keep_finish = calc_sec(df_act_period.loc[temp, 'to'])
    
    for j in range(temp, len(df_act_period)):
        
        ceil_finish = calc_sec(df_summary_all.loc[i, 'to'])
        
        
        if(df_act_period.loc[j, 'date']==df_summary_all.loc[i, 'date'] and 
           df_act_period.loc[j, 'ID']==df_summary_all.loc[i, 'ID']):

            if(calc_sec(df_act_period.loc[j, 'to'])>=keep_finish):
                
#                 actual_to_all.append(df_act_period.loc[j, 'to'])
                keep_finish = calc_sec(df_act_period.loc[j, 'to'])
            
            print(ceil_finish, calc_sec(df_act_period.loc[j, 'to']), j, temp)
        
            if(calc_sec(df_act_period.loc[j, 'to'])>ceil_finish):
                print('break')
                actual_to_all.append(df_act_period.loc[j-1, 'to'])
                temp = j
                break

50400.0 50362.811 0 0
50400.0 50398.15 1 0
50400.0 50400.0 2 0
50400.0 50436.696 3 0
break
54000.0 50436.696 3 3
54000.0 50438.143 4 3
54000.0 50443.602 5 3
54000.0 50443.923 6 3
54000.0 50444.566 7 3
54000.0 50444.726 8 3
54000.0 50446.975 9 3
54000.0 50447.617 10 3
54000.0 50447.778 11 3
54000.0 50454.524 12 3
54000.0 50461.59 13 3
54000.0 50462.073 14 3
54000.0 50463.839 15 3
54000.0 50467.372 16 3
54000.0 50469.46 17 3
54000.0 50473.476 18 3
54000.0 50474.119 19 3
54000.0 50481.83 20 3
54000.0 50482.792 21 3
54000.0 50482.953 22 3
54000.0 50483.435 23 3
54000.0 50486.166 24 3
54000.0 50487.612 25 3
54000.0 50493.073 26 3
54000.0 50493.876 27 3
54000.0 50524.105 28 3
54000.0 50526.968 29 3
54000.0 50528.895 30 3
54000.0 50533.717 31 3
54000.0 50535.162 32 3
54000.0 50564.559 33 3
54000.0 50565.683 34 3
54000.0 50568.735 35 3
54000.0 50570.342 36 3
54000.0 50571.305 37 3
54000.0 50579.981 38 3
54000.0 50614.362 39 3
54000.0 50622.074 40 3
54000.0 50622.395 41 3
54000.0 50627.216 42 3
54000.0 50627.376 43 3
54000.0 50627.697 44 3
54000.0 50627.859 45 3
54000.0 50628.503 46 3
54000.0 50629.786 47 3
54000.0 50630.108 48 3
54000.0 50630.27 49 3
54000.0 50655.005 50 3
54000.0 50656.451 51 3
54000.0 50656.612 52 3
54000.0 50659.986 53 3
54000.0 50660.146 54 3
54000.0 50660.628 55 3
54000.0 50660.79 56 3
54000.0 50661.11 57 3
54000.0 50661.272 58 3
54000.0 50661.593 59 3
54000.0 50663.361 60 3
54000.0 50663.52 61 3
54000.0 50674.609 62 3
54000.0 50675.086 63 3
54000.0 50676.052 64 3
54000.0 50676.695 65 3
54000.0 50677.175 66 3
54000.0 50677.335 67 3
54000.0 50679.104 68 3
54000.0 50679.264 69 3
54000.0 50679.585 70 3
54000.0 50706.416 71 3
54000.0 50706.577 72 3
54000.0 50708.185 73 3
54000.0 50708.825 74 3
54000.0 50708.985 75 3
54000.0 50709.146 76 3
54000.0 50732.281 77 3
54000.0 50732.444 78 3
54000.0 50734.052 79 3
54000.0 50734.21 80 3
54000.0 50734.372 81 3
54000.0 50734.854 82 3
54000.0 50735.336 83 3
54000.0 50735.496 84 3
54000.0 50738.87 85 3
54000.0 50739.032 86 3
54000.0 50740.317 87 3
54000.0 50741.28 88 3
54000.0 50741.603 89 3
54000.0 50741.764 90 3
54000.0 50741.926 91 3
54000.0 50742.888 92 3
54000.0 50743.047 93 3
54000.0 50743.532 94 3
54000.0 50744.816 95 3
54000.0 50755.74 96 3
54000.0 50756.382 97 3
54000.0 50758.155 98 3
54000.0 50758.31 99 3
54000.0 50759.112 100 3
54000.0 50759.273 101 3
54000.0 50833.98 102 3
54000.0 50834.142 103 3
54000.0 50834.302 104 3
54000.0 50834.462 105 3
54000.0 50834.621 106 3
54000.0 50846.032 107 3
54000.0 50846.833 108 3
54000.0 50846.996 109 3
54000.0 50847.154 110 3
54000.0 50848.441 111 3
54000.0 50849.885 112 3
54000.0 50850.045 113 3
54000.0 50850.368 114 3
54000.0 50850.529 115 3
54000.0 50850.851 116 3
54000.0 50851.01 117 3
54000.0 50851.17 118 3
54000.0 50851.331 119 3
54000.0 50851.492 120 3
54000.0 50851.655 121 3
54000.0 50851.813 122 3
54000.0 50863.709 123 3
54000.0 50866.602 124 3
54000.0 50866.762 125 3
54000.0 50866.922 126 3
54000.0 50868.048 127 3
54000.0 50868.851 128 3
54000.0 50869.012 129 3
54000.0 50869.335 130 3
54000.0 50869.495 131 3
54000.0 50872.547 132 3
54000.0 50873.19 133 3
54000.0 50873.351 134 3
54000.0 50873.672 135 3
54000.0 50873.834 136 3
54000.0 50873.995 137 3
54000.0 50874.154 138 3
54000.0 50875.923 139 3
54000.0 50881.225 140 3
54000.0 50882.352 141 3
54000.0 50895.236 142 3
54000.0 50896.519 143 3
54000.0 50901.985 144 3
54000.0 50902.467 145 3
54000.0 50906.645 146 3
54000.0 50908.734 147 3
54000.0 50923.197 148 3
54000.0 50934.126 149 3
54000.0 50934.446 150 3
54000.0 50934.608 151 3
54000.0 50934.769 152 3
54000.0 50934.929 153 3
54000.0 50935.09 154 3
54000.0 50935.25 155 3
54000.0 50936.215 156 3
54000.0 50936.376 157 3
54000.0 50936.858 158 3
54000.0 50937.019 159 3
54000.0 50937.179 160 3
54000.0 50937.66 161 3
54000.0 50937.821 162 3
54000.0 50938.624 163 3
54000.0 50939.267 164 3
54000.0 50939.589 165 3
54000.0 50939.749 166 3
54000.0 50940.07 167 3
54000.0 50941.034 168 3
54000.0 50941.196 169 3
54000.0 50941.355 170 3
54000.0 50941.518 171 3
54000.0 50942.48 172 3
54000.0 50945.694 173 3
54000.0 50945.855 174 3
54000.0 50946.016 175 3
54000.0 50946.818 176 3
54000.0 50947.14 177 3
54000.0 50947.623 178 3
54000.0 50947.945 179 3
54000.0 50948.586 180 3
54000.0 50948.907 181 3
54000.0 50949.551 182 3
54000.0 50949.71 183 3
54000.0 50956.619 184 3
54000.0 50956.78 185 3
54000.0 50958.226 186 3
54000.0 50958.386 187 3
54000.0 50959.35 188 3
54000.0 50964.812 189 3
54000.0 50966.58 190 3
54000.0 50973.005 191 3
54000.0 50973.327 192 3
54000.0 50973.648 193 3
54000.0 50975.417 194 3
54000.0 50975.588 195 3
54000.0 50976.219 196 3
54000.0 50980.878 197 3
54000.0 50981.682 198 3
54000.0 50983.614 199 3
54000.0 50984.092 200 3
54000.0 50993.25 201 3
54000.0 50993.411 202 3
54000.0 50998.232 203 3
39600.0 36246.297 204 3
39600.0 36288.839 205 3
39600.0 36328.976 206 3
39600.0 36329.298 207 3
39600.0 36329.457 208 3
39600.0 36329.617 209 3
39600.0 36338.131 210 3
39600.0 36347.121 211 3
39600.0 36350.333 212 3
39600.0 36354.347 213 3
39600.0 36355.469 214 3
39600.0 36355.791 215 3
39600.0 36355.952 216 3
39600.0 36358.523 217 3
39600.0 36358.843 218 3
39600.0 36359.323 219 3
39600.0 36387.592 220 3
39600.0 36395.769 221 3
39600.0 36396.733 222 3
39600.0 36436.234 223 3
39600.0 36471.721 224 3
39600.0 36474.291 225 3
39600.0 36474.451 226 3
39600.0 36476.543 227 3
39600.0 36482.478 228 3
39600.0 36488.259 229 3
39600.0 36488.591 230 3
39600.0 36492.271 231 3
39600.0 36492.753 232 3
39600.0 36492.913 233 3
39600.0 36493.074 234 3
39600.0 36499.819 235 3
39600.0 36499.977 236 3
39600.0 36500.298 237 3
39600.0 36503.35 238 3
39600.0 36503.831 239 3
39600.0 36503.992 240 3
39600.0 36507.362 241 3
39600.0 36544.451 242 3
39600.0 36545.415 243 3
39600.0 36545.574 244 3
39600.0 36545.895 245 3
39600.0 36549.109 246 3
39600.0 36557.299 247 3
39600.0 36558.903 248 3
39600.0 36559.224 249 3
39600.0 36559.546 250 3
39600.0 36562.277 251 3
39600.0 36570.949 252 3
39600.0 36571.108 253 3
39600.0 36582.353 254 3
39600.0 36582.672 255 3
39600.0 36583.477 256 3
39600.0 36583.637 257 3
39600.0 36583.957 258 3
39600.0 36584.118 259 3
39600.0 36584.278 260 3
39600.0 36584.921 261 3
39600.0 36586.847 262 3
39600.0 36587.974 263 3
39600.0 36588.134 264 3
39600.0 36588.293 265 3
39600.0 36588.453 266 3
39600.0 36640.484 267 3
39600.0 36640.644 268 3
39600.0 36646.594 269 3
39600.0 36646.909 270 3
39600.0 36647.229 271 3
39600.0 36647.549 272 3
39600.0 36647.711 273 3
39600.0 36647.87 274 3
39600.0 36648.041 275 3
46800.0 44647.938 276 3
46800.0 44648.099 277 3
46800.0 44649.383 278 3
46800.0 44684.378 279 3
46800.0 44721.784 280 3
46800.0 44723.711 281 3
46800.0 44725.959 282 3
46800.0 44726.281 283 3
46800.0 44726.922 284 3
46800.0 44729.329 285 3
46800.0 44730.937 286 3
46800.0 44732.862 287 3
46800.0 44766.738 288 3
46800.0 44768.21 289 3
46800.0 44772.521 290 3
46800.0 44773.484 291 3
46800.0 44774.768 292 3
46800.0 44803.031 293 3
46800.0 44838.198 294 3
46800.0 44883.167 295 3
46800.0 44883.489 296 3
46800.0 44884.293 297 3
46800.0 44888.148 298 3
46800.0 44892.165 299 3
46800.0 44893.771 300 3
46800.0 44896.182 301 3
46800.0 44896.663 302 3
46800.0 44900.2 303 3
46800.0 44902.128 304 3
46800.0 44909.358 305 3
46800.0 44928.635 306 3
46800.0 44930.082 307 3
46800.0 44930.243 308 3
46800.0 44930.403 309 3
46800.0 44930.565 310 3
46800.0 44941.165 311 3
46800.0 44941.324 312 3
46800.0 44941.647 313 3
46800.0 44941.808 314 3
46800.0 44941.968 315 3
46800.0 44942.288 316 3
46800.0 44947.911 317 3
46800.0 44948.07 318 3
46800.0 44948.713 319 3
46800.0 44948.875 320 3
46800.0 44949.356 321 3
46800.0 44949.517 322 3
46800.0 44961.242 323 3
46800.0 44961.722 324 3
46800.0 44961.884 325 3
46800.0 44962.045 326 3
46800.0 44962.205 327 3
46800.0 44963.168 328 3
46800.0 44963.331 329 3
46800.0 44963.812 330 3
46800.0 45269.77 331 3
46800.0 45273.303 332 3
46800.0 45273.785 333 3
46800.0 45274.427 334 3
46800.0 45274.588 335 3
46800.0 45275.551 336 3
46800.0 45275.872 337 3
46800.0 45277.479 338 3
46800.0 45278.441 339 3
46800.0 45306.543 340 3
46800.0 45307.026 341 3
46800.0 45307.186 342 3
46800.0 45307.347 343 3
46800.0 45308.148 344 3
46800.0 45313.126 345 3
46800.0 45315.54 346 3
46800.0 45343.8 347 3
46800.0 45344.122 348 3
46800.0 45347.975 349 3
46800.0 45354.24 350 3
46800.0 45358.897 351 3
46800.0 45363.929 352 3
46800.0 45370.783 353 3
46800.0 45373.032 354 3
46800.0 45373.191 355 3
46800.0 45373.513 356 3
46800.0 45373.674 357 3
46800.0 45374.478 358 3
46800.0 45376.245 359 3
46800.0 45382.508 360 3
46800.0 45382.829 361 3
46800.0 45382.988 362 3
46800.0 45386.683 363 3
46800.0 45407.559 364 3
46800.0 45446.101 365 3
46800.0 45448.833 366 3
46800.0 45449.795 367 3
46800.0 45452.526 368 3
46800.0 45452.688 369 3
46800.0 45453.009 370 3
46800.0 45499.423 371 3
46800.0 45503.277 372 3
46800.0 45504.723 373 3
46800.0 45505.527 374 3
46800.0 45506.33 375 3
46800.0 45512.272 376 3
46800.0 45512.432 377 3
46800.0 45513.234 378 3
46800.0 45519.178 379 3
46800.0 45519.981 380 3
46800.0 45525.119 381 3
46800.0 45554.515 382 3
46800.0 45562.066 383 3
46800.0 45580.863 384 3
46800.0 45629.414 385 3
46800.0 46054.635 386 3
46800.0 46088.842 387 3
46800.0 46134.622 388 3
46800.0 46151.487 389 3
46800.0 46151.649 390 3
46800.0 46151.808 391 3
46800.0 46153.093 392 3
46800.0 46153.414 393 3
46800.0 46163.693 394 3
46800.0 46165.299 395 3
46800.0 46166.262 396 3
46800.0 46170.117 397 3
46800.0 46203.205 398 3
46800.0 46244.636 399 3
46800.0 46247.366 400 3
46800.0 46247.528 401 3
46800.0 46248.652 402 3
46800.0 46248.972 403 3
46800.0 46287.042 404 3
46800.0 46289.935 405 3
46800.0 46291.059 406 3
46800.0 46297.003 407 3
46800.0 46297.162 408 3
46800.0 46297.484 409 3
46800.0 46298.932 410 3
46800.0 46319.812 411 3
46800.0 46336.518 412 3
46800.0 46341.5 413 3
46800.0 46342.462 414 3
46800.0 46346.342 415 3
46800.0 46346.96 416 3
46800.0 46347.122 417 3
46800.0 46347.282 418 3
46800.0 46377.485 419 3
46800.0 46378.608 420 3
46800.0 46380.054 421 3
46800.0 46385.035 422 3
46800.0 46385.355 423 3
46800.0 46385.836 424 3
46800.0 46391.138 425 3
46800.0 46409.453 426 3
46800.0 46409.611 427 3
46800.0 46409.774 428 3
46800.0 46409.934 429 3
46800.0 46411.872 430 3
46800.0 46412.503 431 3
46800.0 46412.665 432 3
46800.0 46412.824 433 3
46800.0 46414.592 434 3
46800.0 46415.077 435 3
46800.0 46415.715 436 3
46800.0 46415.876 437 3
46800.0 46417.321 438 3
46800.0 46417.483 439 3
46800.0 46418.125 440 3
46800.0 46418.606 441 3
46800.0 46418.927 442 3
46800.0 46419.09 443 3
46800.0 46419.25 444 3
46800.0 46419.571 445 3
46800.0 46420.052 446 3
46800.0 46425.674 447 3
46800.0 46444.628 448 3
46800.0 46444.949 449 3
46800.0 46445.108 450 3
46800.0 46445.43 451 3
46800.0 46448.484 452 3
46800.0 46448.963 453 3
46800.0 46797.52 454 3
46800.0 46798.798 455 3
46800.0 46800.0 456 3

46800.0 46801.524 457 3
break
50400.0 46801.524 457 457
50400.0 46801.846 458 457
50400.0 46802.649 459 457
50400.0 46839.751 460 457
50400.0 46880.709 461 457
50400.0 46881.029 462 457
50400.0 46881.67 463 457
50400.0 46881.834 464 457
50400.0 46886.008 465 457
50400.0 46886.168 466 457
50400.0 46886.648 467 457
50400.0 46895.48 468 457
50400.0 46898.535 469 457
50400.0 46901.584 470 457
50400.0 46944.632 471 457
50400.0 46988.639 472 457
50400.0 46991.366 473 457
50400.0 46992.491 474 457
50400.0 46992.812 475 457
50400.0 46994.901 476 457
50400.0 46996.187 477 457
50400.0 47001.005 478 457
50400.0 47032.966 479 457
50400.0 47033.449 480 457
50400.0 47033.61 481 457
50400.0 47035.858 482 457
50400.0 47041.156 483 457
50400.0 47043.886 484 457
50400.0 47050.31 485 457
50400.0 47053.842 486 457
50400.0 47084.356 487 457
50400.0 47084.517 488 457
50400.0 47088.05 489 457
50400.0 47088.209 490 457
50400.0 47089.174 491 457
50400.0 47089.334 492 457
50400.0 47098.327 493 457
50400.0 47130.608 494 457
50400.0 47134.623 495 457
50400.0 47134.943 496 457
50400.0 47135.104 497 457
50400.0 47135.585 498 457
50400.0 47135.747 499 457
50400.0 47144.899 500 457
50400.0 47145.058 501 457
50400.0 47146.344 502 457
50400.0 47146.503 503 457
50400.0 47157.101 504 457

In [131]:
actual_to_all

['14:0:0.0', '13:0:0.0']

In [74]:
df_summary_all['from actual'] = pd.Series(actual_from_all)
df_summary_all['to_actual'] = pd.Series(actual_to_all)

In [76]:
df_act_period

       ID        date          from            to y_pred
0    2001  2019-01-16  13:58:47.956  13:59:22.811      2
1    2001  2019-01-16  13:59:22.972   13:59:58.15      0
2    2001  2019-01-16  13:59:58.311      14:0:0.0      2
3    2001  2019-01-16      14:0:0.0  14:00:36.696      2
4    2001  2019-01-16  14:00:36.857  14:00:38.143      3
5    2001  2019-01-16  14:00:38.302  14:00:43.602      2
6    2001  2019-01-16  14:00:43.763  14:00:43.923      3
7    2001  2019-01-16  14:00:44.115  14:00:44.566      2
8    2001  2019-01-16  14:00:44.726  14:00:44.726      3
9    2001  2019-01-16  14:00:44.887  14:00:46.975      2
10   2001  2019-01-16  14:00:47.146  14:00:47.617      3
11   2001  2019-01-16  14:00:47.778  14:00:47.778      2
12   2001  2019-01-16  14:00:47.939  14:00:54.524      0
13   2001  2019-01-16  14:00:54.684   14:01:01.59      3
14   2001  2019-01-16   14:01:01.75  14:01:02.073      2
15   2001  2019-01-16  14:01:02.234  14:01:03.839      0
16   2001  2019-01-16    14:01:04.0  14:01:07.372      1
17   2001  2019-01-16  14:01:07.539   14:01:09.46      3
18   2001  2019-01-16  14:01:09.622  14:01:13.476      0
19   2001  2019-01-16  14:01:13.637  14:01:14.119      3
20   2001  2019-01-16   14:01:14.28   14:01:21.83      0
21   2001  2019-01-16   14:01:21.99  14:01:22.792      1
22   2001  2019-01-16  14:01:22.953  14:01:22.953      0
23   2001  2019-01-16  14:01:23.114  14:01:23.435      2
24   2001  2019-01-16  14:01:23.595  14:01:26.166      0
25   2001  2019-01-16  14:01:26.326  14:01:27.612      3
26   2001  2019-01-16  14:01:27.772  14:01:33.073      2
27   2001  2019-01-16  14:01:33.234  14:01:33.876      3
28   2001  2019-01-16  14:01:34.037  14:02:04.105      1
29   2001  2019-01-16  14:02:04.237  14:02:06.968      0
..    ...         ...           ...           ...    ...
475  3005  2019-03-05  13:03:12.651  13:03:12.812      1
476  3005  2019-03-05  13:03:12.974  13:03:14.901      3
477  3005  2019-03-05  13:03:15.063  13:03:16.187      0
478  3005  2019-03-05  13:03:16.345  13:03:21.005      2
479  3005  2019-03-05  13:03:21.165  13:03:52.966      1
480  3005  2019-03-05  13:03:53.128  13:03:53.449      2
481  3005  2019-03-05   13:03:53.61   13:03:53.61      1
482  3005  2019-03-05  13:03:53.768  13:03:55.858      2
483  3005  2019-03-05  13:03:56.019  13:04:01.156      0
484  3005  2019-03-05  13:04:01.318  13:04:03.886      2
485  3005  2019-03-05  13:04:04.048   13:04:10.31      0
486  3005  2019-03-05  13:04:10.472  13:04:13.842      3
487  3005  2019-03-05  13:04:14.003  13:04:44.356      2
488  3005  2019-03-05  13:04:44.517  13:04:44.517      3
489  3005  2019-03-05  13:04:44.678   13:04:48.05      2
490  3005  2019-03-05  13:04:48.209  13:04:48.209      3
491  3005  2019-03-05  13:04:48.371  13:04:49.174      2
492  3005  2019-03-05  13:04:49.334  13:04:49.334      3
493  3005  2019-03-05  13:04:49.495  13:04:58.327      2
494  3005  2019-03-05  13:04:58.489  13:05:30.608      3
495  3005  2019-03-05  13:05:30.769  13:05:34.623      2
496  3005  2019-03-05  13:05:34.782  13:05:34.943      3
497  3005  2019-03-05  13:05:35.104  13:05:35.104      2
498  3005  2019-03-05  13:05:35.263  13:05:35.585      3
499  3005  2019-03-05  13:05:35.747  13:05:35.747      2
500  3005  2019-03-05  13:05:35.907  13:05:44.899      3
501  3005  2019-03-05  13:05:45.058  13:05:45.058      2
502  3005  2019-03-05   13:05:45.22  13:05:46.344      3
503  3005  2019-03-05  13:05:46.503  13:05:46.503      2
504  3005  2019-03-05  13:05:46.665  13:05:57.101      3

[505 rows x 5 columns]

In [75]:
df_summary_all

,ID,date,from,to,sit,sleep,stand,walk,total,sit count,sleep count,stand count,walk count,inactive count,active count,total count,transition count,duration per action,from actual,to_actual
0,2001,2019-01-16,13:0:0,14:0:0,0:0:35,0:0:00,0:0:36,0:0:00,0:1:11,1,0,2,0,1,2,3,2,0:20:00,13:58:47.956,13:59:22.811
1,2001,2019-01-16,14:0:0,15:0:0,0:1:07,0:1:10,0:4:03,0:3:04,0:9:24,16,6,88,91,22,179,201,32,0:0:17,14:0:0.0,14:0:0.0
2,3001,2019-03-05,10:0:0,11:0:0,0:1:55,0:1:09,0:3:02,0:1:04,0:7:10,12,9,32,19,21,51,72,31,0:0:50,10:03:24.717,10:04:06.297
3,3002,2019-03-05,12:0:0,13:0:0,0:1:06,0:1:10,0:2:48,0:0:30,0:5:34,6,4,25,20,10,45,55,14,0:1:05,12:23:37.598,12:24:07.938
4,3003,2019-03-05,12:0:0,13:0:0,0:1:28,0:1:15,0:2:09,0:1:27,0:6:19,15,7,19,14,22,33,55,24,0:1:05,12:33:59.899,12:34:29.77
5,3004,2019-03-05,12:0:0,13:0:0,0:1:53,0:1:18,0:2:44,0:0:56,0:6:51,11,6,27,24,17,51,68,16,0:0:52,12:47:04.763,12:47:34.635
6,3005,2019-03-05,12:0:0,13:0:0,0:0:01,0:0:00,0:0:30,0:0:00,0:0:31,1,0,2,0,1,2,3,2,0:20:00,12:59:27.632,12:59:57.52
7,3005,2019-03-05,13:0:0,14:0:0,0:1:44,0:1:17,0:1:47,0:0:59,0:5:47,7,5,20,16,12,36,48,18,0:1:15,13:0:0.0,13:0:0.0

In [141]:
csv_path = datapath + 'summary/all_day_summary_' + all_patients[0] + '_to_' + all_patients[-1] + '.csv'
df_summary_all.to_csv(csv_path)

In [143]:
csv_path = datapath + 'summary/activity_period_' + all_patients[0] + '_to_' + all_patients[-1] + '.csv'
df_act_period.to_csv(csv_path)